<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
	version="1.0">
	<persistence-unit name="example-app">
		<provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
		<class>com.wrenched.example.domain.TestEntity</class>
		<class>com.wrenched.example.domain.TestEntity2</class>
		<class>com.wrenched.example.domain.TestPK</class>
		<properties>
			<property name="openjpa.ConnectionURL" value="jdbc:h2:tcp://localhost:8043/~/test" />
			<property name="openjpa.ConnectionDriverName" value="org.h2.Driver" />
			<property name="openjpa.ConnectionUserName" value="sa" />
			<property name="openjpa.ConnectionPassword" value="sa" />
		</properties>
	</persistence-unit>
</persistence>